<div style="width: 400px;">
    <h3 class="text-white pb-5 text-xl">Comunidad</h3>
    <canvas id="barChart"></canvas>

    <!-- 📊 Aquí aparecerá la tabla al hacer clic -->
    <div id="infoTable" style="margin-top: 1rem; display: none; text-align: center;">
    <table border="1" cellpadding="6" style="margin: 0 auto; border-collapse: collapse;">
        <thead style="background-color: #f3f3f3;">
        <tr>
            <th>Series</th>
            <th>Group</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="seriesCell"></td>
            <td id="groupCell"></td>
            <td id="valueCell"></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>