
---
const navItems = [
  {title: "Inicio", url: "/"},
  {title: "Pacientes", url: "/pacientes"},
  {title: "Asistente", url: "/asistente"}
];

// URL actual para marcar activo
const currentPath = Astro.url.pathname;
---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2 transition-all duration-300">
  <nav id="main-nav" class="flex px-3 text-sm font-medium rounded-full justify-center items-center bg-transparent transition-all duration-300">
    {
      navItems.map((link) => (
        <a
          href={link.url}
          class={`relative block px-4 py-2 transition ${
            currentPath === link.url ? 'text-[#8367c7] font-semibold' : 'text-gray-200 hover:text-[#8367c7]'
          }`}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const nav = document.getElementById("main-nav");
    const header = document.querySelector("header");

    if (!nav || !header) return;

    const onScroll = () => {
      if (window.scrollY > 20) {
        nav.classList.add("bg-[#C9FF6C]", "backdrop-blur-md", "shadow-lg");
        nav.classList.remove("bg-transparent");
        header.classList.add("py-1");
      } else {
        nav.classList.remove("bg-[#C9FF6C]", "backdrop-blur-md", "shadow-lg");
        nav.classList.add("bg-transparent");
        header.classList.remove("py-1");
      }
    };

    window.addEventListener("scroll", onScroll);
  });
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        backdrop-filter: blur(10px);
        color: black
    }
  }
</style>